<%= header %>
<%= loading %>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide-1 swiper-no-swiping preview" data-src="<%= require('./img/bg.jpg') %>">
            <div class="wrap u-bg">
                <form id="form1" autocomplete="off">
                    <div class="form-group">
                        <input type="text" name="name" required placeholder="姓名" emptyTips="请输入您的姓名">
                    </div>
                    <button type="button" class="btn-submit">提　交</button>
                </form>
            </div>
        </div>
        <div class="swiper-slide slide-2 swiper-no-swiping">
            <div class="wrap u-bg">
                <div class="info">
                    <img class="my-headimg" src="">
                    <p class="my-name"></p>
                    <p class="success">签到成功</p>
                </div>
            </div>
        </div>
    </div>
</div>
<img id="wx_share_img" class="u-hidden" src="<%= require('./img/wx_share.jpg') %>">
<%= footer %>