.u-center {
	@include m-center();
}

.u-hidden {
	display: none !important;
}

.u-invisible {
	visibility: hidden;
}

.u-select-clear {
	appearance: none;
	&::-ms-expand {
		display: none;
	}
}
.u-bg{
    background-size:100% 100%;
    background-position:absolute;
    background-repeat: no-repeat;
}